/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/memorandum_files
public/attachment/
public/supporting_documents/
public/document_attachments/
public/approver_stamp/
public/uploaded_sign_documents/
